@model List<TaskModel>
@{
    ViewData["Title"] = "Task List";
}

<h1 class="display-4">TuDu List</h1>

<div class="text-center">


    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
         <a class="btn btn-success me-md-2" role="button" asp-asp-controller="Task" asp-action="CriarTask">+</a>
    </div>
   


    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Descrição</th>
          <th scope="col">Check</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
      @if(Model!=null&&Model.Any())
      {
          foreach(TaskModel task in Model)
          {
                <tr>
                  <th scope="row">@task.Id</th>
                  <td>@task.Description</td>
                  <td><a role="button"  class=@(task.IsCompleted? "btn btn-success":"btn btn-outline-success") asp-route-id="@task.Id" asp-controller="Task" asp-action="CheckTask">Feito</a></td>
                  <td>
                    <div class="d-grid gap-2 d-md-block">
                      <a role="button" class="btn btn-outline-primary" asp-route-id="@task.Id" asp-controller="Task" asp-action="EditarTask" >Editar</a>
                      <a role="button" class="btn btn-outline-danger" asp-route-id="@task.Id" asp-action="ExcluirTask" >Exlcuir</a>
                    </div>
                    </td>
                </tr>
            
          }

      }
        </tbody>
    </table>
</div>